/* styles.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  flex-shrink: 0;
  width: 100%;
  height: 60px; 
  /* background-color: #343a40;  */
  color: #343a40; 
  text-align: center;
  padding-top: 15px;
}

.index__img {
    width: 60%;
    height: 60%;
}

.rounded {
  background-color: #ffffff;
}
